.*
.metadata
logs
target
tmp
.history
dist
/.idea
*.iml
*.ipr
*.iws
/out
/.idea_modules
.classpath
.project
.settings/
/RUNNING_PID
test-output
acceptance/target
parent/target
performance/target
velocity.log
nohup.out
